@use 'colors';
@use 'reset';
@import 'antd/dist/reset.css';

body {
  font-family: var(--font-family-primary);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
